<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="200" alt="Skandia" src="../assets/img-logo-old-mutual.png" />
  <div class="spacer"></div>
  <a
    aria-label="Angular on twitter"
    target="_blank"
    rel="noopener"
    href="https://twitter.com/angular"
    title="Twitter"
  >
    <svg
      id="twitter-logo"
      height="24"
      data-name="Logo — FIXED"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 400"
    >
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }

          .cls-2 {
            fill: #ffffff;
          }
        </style>
      </defs>
      <rect class="cls-1" width="400" height="400" />
      <path
        class="cls-2"
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
      />
    </svg>
  </a>
</div>

<div class="content" role="main">
  <h1 class="title1">Prueba de concepto ROAD MVP</h1>
  <h2></h2>
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <svg
      id="rocket"
      alt="Rocket Ship"
      xmlns="http://www.w3.org/2000/svg"
      width="101.678"
      height="101.678"
      viewBox="0 0 101.678 101.678"
    >
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle
          id="Ellipse_8"
          data-name="Ellipse 8"
          cx="50.839"
          cy="50.839"
          r="50.839"
          transform="translate(141 696)"
          fill="#dd0031"
        />
        <g
          id="Group_47"
          data-name="Group 47"
          transform="translate(165.185 720.185)"
        >
          <path
            id="Path_33"
            data-name="Path 33"
            d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
            transform="translate(0.371 3.363)"
            fill="#fff"
          />
          <path
            id="Path_34"
            data-name="Path 34"
            d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
            transform="translate(0 0.005)"
            fill="#fff"
          />
        </g>
      </g>
    </svg>

    <span>{{ title }} app is running!</span>

    <svg
      id="rocket-smoke"
      alt="Rocket Ship Smoke"
      xmlns="http://www.w3.org/2000/svg"
      width="516.119"
      height="1083.632"
      viewBox="0 0 516.119 1083.632"
    >
      <path
        id="Path_40"
        data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)"
        fill="#f5f5f5"
      />
    </svg>
  </div>

  <div>
    <mat-horizontal-stepper>
      <mat-step label="Step 1" state="firstState">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nibh
          consectetur, feugiat enim ac, sodales elit. Donec convallis nec odio
          vitae interdum. Vestibulum vel sem felis. Suspendisse consequat sapien
          vel quam volutpat rhoncus. Vestibulum non volutpat neque. Cras
          ultrices sollicitudin purus. Vestibulum eu luctus arcu. Donec at purus
          gravida, congue libero quis, varius metus. Phasellus eget lectus
          ultrices risus placerat suscipit vel vitae mauris. Maecenas vel
          porttitor ex, id cursus ex. Duis convallis interdum justo vitae
          laoreet. Sed eu arcu sed elit venenatis laoreet. Donec in facilisis
          dui, eget vehicula lorem. Fusce iaculis malesuada laoreet. Fusce orci
          ipsum, blandit in rhoncus nec, feugiat vitae lacus. Cras tincidunt
          varius finibus.
        </p>
        <div style="text-align: center;">
          <button class="buttonDemo" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <mat-step label="Step 2" state="secondState">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nibh
          consectetur, feugiat enim ac, sodales elit. Donec convallis nec odio
          vitae interdum. Vestibulum vel sem felis. Suspendisse consequat sapien
          vel quam volutpat rhoncus. Vestibulum non volutpat neque. Cras
          ultrices sollicitudin purus. Vestibulum eu luctus arcu. Donec at purus
          gravida, congue libero quis, varius metus. Phasellus eget lectus
          ultrices risus placerat suscipit vel vitae mauris. Maecenas vel
          porttitor ex, id cursus ex. Duis convallis interdum justo vitae
          laoreet. Sed eu arcu sed elit venenatis laoreet. Donec in facilisis
          dui, eget vehicula lorem. Fusce iaculis malesuada laoreet. Fusce orci
          ipsum, blandit in rhoncus nec, feugiat vitae lacus. Cras tincidunt
          varius finibus.
        </p>
        <div style="text-align: center;">
          <button class="buttonDemo" mat-button matStepperPrevious>
            Regresar
          </button>
          &nbsp;
          <button class="buttonDemo" mat-button matStepperNext>
            Siguiente
          </button>
        </div>
      </mat-step>

      <mat-step label="Step 3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu nibh
          consectetur, feugiat enim ac, sodales elit. Donec convallis nec odio
          vitae interdum. Vestibulum vel sem felis. Suspendisse consequat sapien
          vel quam volutpat rhoncus. Vestibulum non volutpat neque. Cras
          ultrices sollicitudin purus. Vestibulum eu luctus arcu. Donec at purus
          gravida, congue libero quis, varius metus. Phasellus eget lectus
          ultrices risus placerat suscipit vel vitae mauris. Maecenas vel
          porttitor ex, id cursus ex. Duis convallis interdum justo vitae
          laoreet. Sed eu arcu sed elit venenatis laoreet. Donec in facilisis
          dui, eget vehicula lorem. Fusce iaculis malesuada laoreet. Fusce orci
          ipsum, blandit in rhoncus nec, feugiat vitae lacus. Cras tincidunt
          varius finibus.
        </p>
        <div style="text-align: center;">
          <button class="buttonDemo" mat-button matStepperPrevious>
            Regresar
          </button>
          &nbsp;
          <button class="buttonDemo" mat-button matStepperPrevious>
            Confirmar
          </button>
        </div>
      </mat-step>


    </mat-horizontal-stepper>
  </div>

  <!-- Footer -->
  <footer></footer>

  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>

<router-outlet></router-outlet>
